<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for using my website.</h1>
    <p>
      You have successfully booked your flight.
    </p>
    <p>
      You can find all the details at: <%= @url %>.
    </p>
    <p>Thanks again and have a great day!</p>
  </body>
</html>